@using Entidades.Core
@model List<Usuarios>

<!DOCTYPE html>
<html>
<head>
    <title>Lista de Usuarios</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 20px;
        }

        h1 {
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #ddd;
            background-color: #fff;
        }

        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        th {
            background-color: #f2f2f2;
            color: #333;
        }

        p {
            margin-top: 20px;
        }

        .action-link {
            color: blue;
            text-decoration: none;
        }

            .action-link:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <h1>Lista de Usuarios</h1>

    <table>
        <thead>
            <tr>
                <th>Nombres</th>
                <th>CodUsuario</th>
                <th>ClaveTxt</th>
                <th>DesRol</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {
                <tr>
                    <td>@usuario.Nombres</td>
                    <td>@usuario.CodUsuario</td>
                    <td>@usuario.ClaveTxt</td>
                    <td>@usuario.DesRol</td>
                    <td>
                        <p>
                            @Html.ActionLink("Edit","Edit","Usuarios",new {id = @usuario.IdUsuario})
                        </p>
                    </td>
                    <td>
                        <p>
                            <a href="@Url.Action("Detail")" class="action-link">Detail</a>
                        </p>
                    </td>
                    <td>
                        <p>
                            @Html.ActionLink("Delete", "Delete", "Usuarios", new { id = @usuario.IdUsuario })
                        </p>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</body>
</html>
